@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700&display=swap');
.titleEditor {
    padding: 5vh;
    margin: 20vh 7vh 7vh 7vh;
    font-family: 'Lato';
}

.contentEditor {
    padding: 5vh;
    margin: 1vh 7vh 7vh 7vh;
    font-family: 'Lato';
}

.newNoteContainer {
    background-color: #0586ff;
    min-height: 100vh;
    bottom: 0;
}

.nav {
    padding-bottom: 5vh;
    background-color: #0586ff;
}